html, body {
  height: 100%;
}

body{

  header{
    position: absolute;
    bottom:20px;
    right:10px;
    z-index: 1;

    .btn-link{

      .fa{
        text-shadow: 0 1px 1px rgba(0,0,0,.8);
      }
    }
  }
}
